In [1]:
# Installing the Kaggle library
!pip install kaggle

Requirement already satisfied: kaggle in c:\users\anshy\ztm_ml_projects\sample_project\env\lib\site-packages (1.6.14)
Requirement already satisfied: six>=1.10 in c:\users\anshy\ztm_ml_projects\sample_project\env\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\anshy\ztm_ml_projects\sample_project\env\lib\site-packages (from kaggle) (2024.2.2)
Requirement already satisfied: python-dateutil in c:\users\anshy\ztm_ml_projects\sample_project\env\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in c:\users\anshy\ztm_ml_projects\sample_project\env\lib\site-packages (from kaggle) (2.28.1)
Requirement already satisfied: tqdm in c:\users\anshy\ztm_ml_projects\sample_project\env\lib\site-packages (from kaggle) (4.65.0)
Requirement already satisfied: python-slugify in c:\users\anshy\ztm_ml_projects\sample_project\env\lib\site-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in c:\users\anshy\ztm_ml_projects\sample_project\env\lib\site-packages (from kaggle) (1.26.18)
Requirement already satisfied: bleach in c:\users\anshy\ztm_ml_projects\sample_project\env\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\anshy\ztm_ml_projects\sample_project\env\lib\site-packages (from bleach->kaggle) (23.1)
Requirement already satisfied: webencodings in c:\users\anshy\ztm_ml_projects\sample_project\env\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\anshy\ztm_ml_projects\sample_project\env\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\anshy\ztm_ml_projects\sample_project\env\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\anshy\ztm_ml_projects\sample_project\env\lib\site-packages (from requests->kaggle) (3.4)
Requirement already satisfied: colorama in c:\users\anshy\ztm_ml_projects\sample_project\env\lib\site-packages (from tqdm->kaggle) (0.4.6)

In [2]:
#importing the necessary libraries
import kaggle
import pandas as pd
import numpy as np

In [3]:
#dowloading the dataset using the kaggle api
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [4]:
#As the file is imported as zip file, we have to extract it in order to get the csv file
import zipfile
zip_ref = zipfile.ZipFile('orders.csv.zip')

#Extracting the file to main dir
zip_ref.extractall()

#Closing the file
zip_ref.close()

In [5]:
#reading the data from the file
df = pd.read_csv('orders.csv')
df.head(15)

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
5,6,2022-03-13,Not Available,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,50,50,7,3
6,7,2022-12-28,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10002833,10,10,4,3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,860,910,6,5
8,9,2023-03-23,Not Available,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,20,20,3,2
9,10,2023-05-16,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,OFF-AP-10002892,90,110,5,3
10,11,2023-03-31,Not Available,Consumer,United States,Los Angeles,California,90032,West,Furniture,Tables,FUR-TA-10001539,1470,1710,9,3
11,12,2023-12-25,Not Available,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002033,750,910,4,3
12,13,2022-02-11,Standard Class,Consumer,United States,Concord,North Carolina,28027,South,Office Supplies,Paper,OFF-PA-10002365,20,20,3,3
13,14,2023-07-18,Standard Class,Consumer,United States,Seattle,Washington,98103,West,Office Supplies,Binders,OFF-BI-10003656,360,410,3,2
14,15,2023-11-09,unknown,Home Office,United States,Fort Worth,Texas,76106,Central,Office Supplies,Appliances,OFF-AP-10002311,60,70,5,5

In [6]:
#To know more about the dataset (Rows and Columns)
df.shape

(9994, 16)

In [7]:
#Getting, the info of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order Id          9994 non-null   int64
 1   Order Date        9994 non-null   object
 2   Ship Mode         9993 non-null   object
 3   Segment           9994 non-null   object
 4   Country           9994 non-null   object
 5   City              9994 non-null   object
 6   State             9994 non-null   object
 7   Postal Code       9994 non-null   int64
 8   Region            9994 non-null   object
 9   Category          9994 non-null   object
 10  Sub Category      9994 non-null   object
 11  Product Id        9994 non-null   object
 12  cost price        9994 non-null   int64
 13  List Price        9994 non-null   int64
 14  Quantity          9994 non-null   int64
 15  Discount Percent  9994 non-null   int64
dtypes: int64(6), object(10)
memory usage: 1.2+ MB

In [8]:
#To know about the null values in the dataset
df.isnull().sum()

Order Id            0
Order Date          0
Ship Mode           1
Segment             0
Country             0
City                0
State               0
Postal Code         0
Region              0
Category            0
Sub Category        0
Product Id          0
cost price          0
List Price          0
Quantity            0
Discount Percent    0
dtype: int64

In [9]:
#From the first 15 data, it is evident that there are some values with Not Available, Unkonwn in Ship Mode Column
#So, we need to change them to Nan, to have a standardized data

#Checking the unique values in the Ship Mode column
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', 'Not Available', 'unknown',
       'First Class', nan, 'Same Day'], dtype=object)

In [10]:
#Replacing the values Not Available and Unknown to NULL
df['Ship Mode'].replace(['Not Available', 'unknown'], np.nan, inplace=True)

In [11]:
#checking the unique values again to ensure it has changes
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [12]:
#We also need to standardize the column names as we are also going to extract these dataset into the SQL database
#Replacing all the column names with lower case and replacing all the column names with spaces with underscore

#We can rename the column names one by one,but it is not ideal in our case, as we have to standardize all the column names
df.rename(columns={'Order Id' : 'order_id', 'City' : 'city'})

#instead we can make use of the inbuilt function and do it efficiently with the commands below

#replacing to lower case
df.columns = df.columns.str.lower()

#replacing the spaces with _ underscore
df.columns = df.columns.str.replace(' ', '_')

In [13]:
#Checking the dataset now to make sure the column names are replaced perfectly
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [14]:
#In the data, we can see there is cost_price, list_price, quantity and discount_precent
#From this, we can derive new columns such as discount price, sale price and profit

#Calculating the discount price
df['discount_price'] = df['list_price'] * (df['discount_percent']/100)

#Calculating the sale_price (per unit)
df['sale_price'] = df['list_price'] - df['discount_price']

#Calculating the total_sale_price of a order (as the quantity differs)
df['total_sale_price'] = df['sale_price'] * df['quantity']

#Calculating the total_cost_price
df['total_cost_price'] = df['cost_price'] * df['quantity']

#Calculating the profit
df['profit'] = df['total_sale_price'] - df['total_cost_price']

df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,...,product_id,cost_price,list_price,quantity,discount_percent,discount_price,sale_price,total_sale_price,total_cost_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,...,FUR-BO-10001798,240,260,2,2,5.2,254.8,509.6,480,29.6
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,...,FUR-CH-10000454,600,730,3,3,21.9,708.1,2124.3,1800,324.3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,...,OFF-LA-10000240,10,10,2,5,0.5,9.5,19.0,20,-1.0
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,...,FUR-TA-10000577,780,960,5,2,19.2,940.8,4704.0,3900,804.0
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,...,OFF-ST-10000760,20,20,2,5,1.0,19.0,38.0,40,-2.0

In [15]:
#Realized that the order_date is of object data type, so we need to change it to the datetime format
#df.dtypes
df['order_date'] = pd.to_datetime(df['order_date'], format="%Y-%m-%d")

#ensuring the datatype has changed
df.dtypes

order_id                     int64
order_date          datetime64[ns]
ship_mode                   object
segment                     object
country                     object
city                        object
state                       object
postal_code                  int64
region                      object
category                    object
sub_category                object
product_id                  object
cost_price                   int64
list_price                   int64
quantity                     int64
discount_percent             int64
discount_price             float64
sale_price                 float64
total_sale_price           float64
total_cost_price             int64
profit                     float64
dtype: object

In [16]:
#As we already got our summarized result on total cost, total sale and total profit of each order
#We can drop certain columns which we used to derive the new columns
df.drop(columns=['list_price', 'cost_price', 'discount_percent'], inplace = True)

#Ensuring everything has dropped
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount_price,sale_price,total_sale_price,total_cost_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,509.6,480,29.6
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,2124.3,1800,324.3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,19.0,20,-1.0
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,4704.0,3900,804.0
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,38.0,40,-2.0

In [17]:
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount_price,sale_price,total_sale_price,total_cost_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,509.6,480,29.6
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,2124.3,1800,324.3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,19.0,20,-1.0
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,4704.0,3900,804.0
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,38.0,40,-2.0

In [18]:
import pyodbc
pyodbc.drivers()

['SQL Server',
 'SQL Anywhere 16',
 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)',
 'Oracle in OraDB21Home1',
 'Oracle in OraDB21Home2',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)',
 'SQL Server Native Client RDA 11.0',
 'ODBC Driver 17 for SQL Server',
 'ODBC Driver 18 for SQL Server']

In [20]:
#As, we are now done with the Data Cleaning, let's insert the datas into the SQL SERVER using SQL ALCHEMY ENGINE
from sqlalchemy import create_engine


# Defining the connection string
server = 'ShyamSundar\SQLEXPRESS'
database = 'retail_orders_db'
driver = 'ODBC+Driver+17+for+SQL+Server'
conn_str = f'mssql+pyodbc://{server}/{database}?driver={driver}'

# Creating the SQLAlchemy engine
engine = create_engine(conn_str)

# Insering data from DataFrame into a new table
df.to_sql('retail_orders', con=engine, if_exists='replace', index=False)

# Closing the engine
engine.dispose()

In [21]:
#exporting data into the CSV format
df.to_csv('retail_orders.csv', index = False)

In [25]:
# Defining the connection string
server = 'ShyamSundar\SQLEXPRESS'
database = 'retail_orders_db'
driver = 'ODBC+Driver+17+for+SQL+Server'
conn_str = f'mssql+pyodbc://{server}/{database}?driver={driver}'

# Creating the SQLAlchemy engine
engine = create_engine(conn_str)

# Insering data from DataFrame into a new table (appending it, as the dtype differs, when we insert the table using to_sql command)
df.to_sql('retail_orders', con=engine, if_exists='append', index=False)

# Closing the engine
engine.dispose()